
  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video */;
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index:3;
  }



/* Landscape phones and down */
@media (min-width: 480px) and (max-width: 768px) {
  #section0{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/imageneskosiner/dk-inic.png);
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section0{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/imageneskosiner/dk-inic.png);
  }
}




  /* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
    overflow: hidden;
  }


  /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
  }

  /*solves problem with overflowing video in Mac with Chrome */
  #section0{
    overflow: hidden;
  }

/* Backgrounds will cover all the section
  * --------------------------------------- */
  .section{
    background-size: cover;
  }
  .slide{
    background-size: cover;
  }

  /* Defining each section background and styles
  * --------------------------------------- */
  #section0{
    background-position: center;
    /*background-image: url(../img/imagenesKosiner/bg1.jpg);
    padding: 30% 0 0 0;*/
  }

  #section2{
    background-position: center;
    background-image: url(../img/imageneskosiner/dk1.jpg);
  }

  #section3{
        width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/imageneskosiner/dk4.jpg);
  }


  /*Adding background for the slides
  * --------------------------------------- */
  #slide1{
        width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/imageneskosiner/dk2.jpg);
    padding: 6% 0 0 0;
  }
  #slide2{
        width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/imageneskosiner/dk3.png);
    padding: 6% 0 0 0;
  }
