form.cmxform label.error, label.error {
            /* remove the next line when you have trouble in IE6 with labels in list */
            color: red;
            font-style: italic
        }
        form div small.error {
            color: #B94A48; /* color to match Bootstraps error class */
        }